@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"); */

/* base fbfbf4 */
/* text 1a1c22 */
@theme {
  --color-primary: #cccccb;
  --color-secondary: #0f131a;
  --color-light:#cbf7fa;
  --color-terra: #ff9538;
}

.syne {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}

.cre{
  color: #eff6fd;
}

.img-fil{
  filter: saturate(0.25);
}

.mask-one{
  mask-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.032) 10%, rgb(0, 0, 0));
  --webkit-mask-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.032) 10%, rgb(0, 0, 0));
}

.mask-two{
  mask-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.032) 80%, rgba(0, 0, 0, 0));
  --webkit-mask-image:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.032) 80%, rgba(0, 0, 0, 0));
}